.member-container {
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 50px;
  color: var(--text-color);
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #E6D5CA;
  font-family: "Comfortaa", sans-serif;
  /* min-height: 72vh; */

}

.member-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: var(--text-color);
}

.search-form {
  margin-bottom: 20px;
}

.search-form .custom-button {
  background-color: #f0f0f0;
  margin-top: 30px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color); /* Custom accent color */
  border-color: var(--accent-color);
  color: var(--background-color); /* Custom background color */
  transition: background-color 0.3s ease;
  
}

.search-form .custom-button:hover {
  background-color: var(--hover-color); /* Custom hover color */
  border-color: var(--border-color); /* Custom border color */
  color: var(--text-color); /* Custom text color */
}

.customer-info {
  margin-top: 30px;
}

.customer-info h2 {
  margin-bottom: 20px;
}

.customer-info p {
  margin-bottom: 10px;
}

.booking-history {
  margin-top: 30px;
}

.booking-table {
  background-color: var(
    --secondary-background-color
  ); /* Custom secondary background color */
  color: var(--text-color); /* Custom text color */
}

.booking-table th,
.booking-table td {
  vertical-align: middle;
  text-align: center;
}

.booking-table th {
  background-color: var(--main-color); /* Custom main color */
  color: var(--background-color); /* Custom background color */
}

.booking-table tbody tr:nth-child(even) {
  background-color: var(--hover-color); /* Custom hover color */
}

.modal-content {
  border-radius: 10px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 24px;
}

.modal-footer .btn {
  border-radius: 5px;
}
