.menu-item {
  background-color: #2c2c54;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);

}

.menu-item h5 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;font-family: "Comfortaa", sans-serif;
  color: var(--text-color);
}

.menu-item p {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);

}



.menu{
  font-family: "Comfortaa", sans-serif;
  color: var(--text-color);

}



